<div class="col-md-12"><br>
    <nav class="col-md-2">
        <div class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top">Filtros</h2>
                <p>Criterios de b&uacute;squeda.</p>
            </div>
            <div class="form">
                <div ng-transclude="filtros"></div>
                <hr><a class="btn btn-default" ng-click="limpiar()"><i class="fa fa-ban"></i>&nbsp;Limpiar</a></div>
        </div>
    </nav>
    <section class="col-md-10">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top" ng-transclude="titulo">Cambiar Titulo</h2>
            </div>
            <div class="wrapper table-responsive" tasty-table="" bind-resource-callback="getResource " bind-init="init "
                bind-filters="filterBy ">
                <table class="table table-striped" style="overflow-y: scroll; height:350px;">
                    <div ng-transclude="tabla"></div>
                    <tfoot>
                        <tr ng-if="loading == true">
                            <td colspan="{{config.header.length}}">
                                <loading></loading>
                            </td>
                        </tr>
                        <tr ng-if="loading == null">
                            <td colspan="{{config.header.length}}">
                                <no-data></no-data>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="tasty-pagination-responsive" tasty-pagination=""></div>
            </div>
        </section>
    </section>
</div>