<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!{{path}}">{{nombre}}</a>
            </li>
            <li class="active">
                <a>Ver <span class="badge">2</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top" ng-transclude="titulo">Cambiar Titulo</h2>
            <!--<p ng-transclude="descripcion">Cambiar Descripcion</p>-->
        </div>

        <form class="wrapper form-horizontal" role="form">
            <dl class="dl-horizontal" ng-transclude="view">
                
            </dl>
            <hr>
                <div class="top-block">
                    <h2 class="title-top">{{subtitulo ? subtitulo : 'Detalles'}} </h2>
                    <!--<p ng-transclude="descripcion">Cambiar Descripcion</p>-->
                </div>
                <div class="wrapper table-responsive" tasty-table="" bind-resource-callback="getResource " bind-init="init "
                     bind-filters="filterBy ">
                    <table class="table table-striped">
                        <div ng-transclude="tabla"></div>
                        <tfoot>
                        <tr ng-if="loading == true">
                            <td colspan="{{config.header.length}}">
                                <loading></loading>
                            </td>
                        </tr>
                        <tr ng-if="loading == null">
                            <td colspan="{{config.header.length}}">
                                <no-data></no-data>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="tasty-pagination-responsive" tasty-pagination=""></div>
                </div>
        </form>

        <hr/>
        <a href="#!{{path}}" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
        </a>
</div>
