.top-nav {
    padding: 0 15px;
    &>li {
        display: inline-block;
        float: left;
    }
    &>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
        color: $sidebar-color;
    }
    &>li>a:hover,
    &>li>a:focus,
    &>.open>a,
    &>.open>a:hover,
    &>.open>a:focus {
        color: $sidebar-color;
        background-color: $sidebar-bg;
    }
    &>.open>.dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        border: 1px solid rgba(0, 0, 0, .15);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: $sidebar-color;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    &>.open>.dropdown-menu>li>a {
        white-space: normal;
    }
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: $sidebar-bg;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        &>li>a {
            width: 225px;
        }
        li a:hover,
        li a:focus {
            outline: none;
            background-color:  #14045c!important;
        }
    }
}
.side-nav {
    &>li>ul {
        padding: 0;
    }
    &>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: $sidebar-color;
    }
    &>li>ul>li>a:hover {
        color: $sidebar-color;
    }
    li {
        .fa {
            font-size: 20px;
            padding-right: 35px;
        }
    }
    .btn.action {
        position: fixed;
        bottom: 15px;
        color: white;
        background: transparent !important;
        font-weight: bold;
        left: 178px;
    }
}
//para la vista reducida
.compress {
    &.page-wrapper {
        padding-left: 65px;
    }
    &.side-nav {
        width: 50px;
    }
    &.action {
        left: 7.5px !important;
        transform: scale(-1, 1);
    }
}
@media(max-width:768px) {
    .compress {
        &.page-wrapper {
            padding-left: 15px;
            padding-right: 15px
        }
        &.side-nav {
            width: auto;
        }
        &.action {
            display: none;
        }
    }
}
.navbar-default {
    .navbar-brand {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 75%;
    }
}
.side-nav {
    .divider {
        border-top: 1px solid $pane-border;
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
}
