@charset "UTF-8";

/* The switch-yn - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* Hide default HTML checkbox */
    input {
        display: none;
    }
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: $active-color;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px $active-color;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}
.label-switch-yn {
    height: 34px;
    margin-top: 7px;
    float: left;
    padding-right: 30px;
}


/***
    List slider
 */


.switch-list {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
    /* Hide default HTML checkbox */
    input {
        display: none;
    }
    /* The slider */
    .slider-list {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider-list:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider-list {
        background-color: $active-color;
    }
    input:focus + .slider-list {
        box-shadow: 0 0 1px $active-color;
    }
    input:checked + .slider-list:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px);
    }
    /* Rounded sliders */
    .slider-list.round {
        border-radius: 34px;
    }
    .slider-list.round:before {
        border-radius: 50%;
    }
}
.label-switch-yn {
    height: 34px;
    margin-top: 7px;
    float: left;
    padding-right: 30px;
}
